In [1]:
import pandas as pd
import numpy as np

## Información del dataset

### Información columnas

#### Columnas

In [8]:
#Cargar el dataset
df = pd.read_csv('../data/archive/movie_metadata.csv')

#Mostrar columnas del dataset
print(df.columns)

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

#### Tipo de dato por columna

In [9]:
#Informmación del dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5029 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB
None

### Información nulos

In [10]:
#Numero de celdas nulas por columna
print(df.isnull().sum())

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

## Eliminación y reemplazo de valores nulos

In [11]:
#Reemplazar valores nulos por 0 o 'Desconocido' según el tipo de dato
valores_reemplazar = {
    col: 0 if pd.api.types.is_numeric_dtype(df[col]) else 'Desconocido'
        for col in df.columns
}

print(valores_reemplazar)

#Reemplazar valores nulos por 0 o 'Desconocido' según el tipo de dato las columnas ['color', 'actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes']
#Lista de columnas específicas
columnas_especificas = df[['color', 'actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes']]

#Diccionario de valores a reemplazar para las columnas específicas
valores_reemplazar_especificos = {
    col: 0 if pd.api.types.is_numeric_dtype(columnas_especificas[col]) else 'Desconocido'
        for col in columnas_especificas.columns
}

print(valores_reemplazar_especificos)

{'color': 'Desconocido', 'director_name': 'Desconocido', 'num_critic_for_reviews': 0, 'duration': 0, 'director_facebook_likes': 0, 'actor_3_facebook_likes': 0, 'actor_2_name': 'Desconocido', 'actor_1_facebook_likes': 0, 'gross': 0, 'genres': 'Desconocido', 'actor_1_name': 'Desconocido', 'movie_title': 'Desconocido', 'num_voted_users': 0, 'cast_total_facebook_likes': 0, 'actor_3_name': 'Desconocido', 'facenumber_in_poster': 0, 'plot_keywords': 'Desconocido', 'movie_imdb_link': 'Desconocido', 'num_user_for_reviews': 0, 'language': 'Desconocido', 'country': 'Desconocido', 'content_rating': 'Desconocido', 'budget': 0, 'title_year': 0, 'actor_2_facebook_likes': 0, 'imdb_score': 0, 'aspect_ratio': 0, 'movie_facebook_likes': 0}
{'color': 'Desconocido', 'actor_1_facebook_likes': 0, 'actor_2_facebook_likes': 0, 'actor_3_facebook_likes': 0}

In [12]:
#Reemplazar los valores nulos en el DataFrame
df_columnas_reemplazadas = df.fillna(valores_reemplazar)

print(df_columnas_reemplazadas.isnull().sum())

color                        0
director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes         0
dtype: int64

In [13]:
#Reemplazar los valores nulos en las columnas específicas
df_columnas_reemplazadas_especificas = df.fillna(valores_reemplazar_especificos)
print(df_columnas_reemplazadas_especificas.isnull().sum())

color                          0
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes         0
actor_2_name                  13
actor_1_facebook_likes         0
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes         0
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

## Información por columnas

In [14]:
# Columnas específicas a conservar
df_especifico = df[['movie_title', 'genres', 'plot_keywords', 'imdb_score']]

print(df_especifico.head())

# Tipo de dato de cada columna
print(df_especifico.dtypes)

                                         movie_title  \
0                                            Avatar
1          Pirates of the Caribbean: At World's End
2                                           Spectre
3                             The Dark Knight Rises
4  Star Wars: Episode VII - The Force Awakens    ...

                            genres  \
0  Action|Adventure|Fantasy|Sci-Fi
1         Action|Adventure|Fantasy
2        Action|Adventure|Thriller
3                  Action|Thriller
4                      Documentary

                                       plot_keywords  imdb_score
0             avatar|future|marine|native|paraplegic         7.9
1  goddess|marriage ceremony|marriage proposal|pi...         7.1
2                bomb|espionage|sequel|spy|terrorist         6.8
3  deception|imprisonment|lawlessness|police offi...         8.5
4                                                NaN         7.1
movie_title       object
genres            object
plot_keywords     object
imdb_score       float64
dtype: object

#### Colmna genres

In [15]:
print(df_especifico[['genres']].head())

                            genres
0  Action|Adventure|Fantasy|Sci-Fi
1         Action|Adventure|Fantasy
2        Action|Adventure|Thriller
3                  Action|Thriller
4                      Documentary

In [16]:
df_especifico['genres'] = df_especifico['genres'].str.split('|')
print(df_especifico[['genres']].head())

                                 genres
0  [Action, Adventure, Fantasy, Sci-Fi]
1          [Action, Adventure, Fantasy]
2         [Action, Adventure, Thriller]
3                    [Action, Thriller]
4                         [Documentary]

C:\Users\kevin\AppData\Local\Temp\ipykernel_7616\2415871834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_especifico['genres'] = df_especifico['genres'].str.split('|')